{% extends "base.html" %}

{% block content %}
    <style>
        .Expire_date {
            color: green;
            text-align: center;
        }
        .list-group {
            width: 60%;
            margin: auto;
        }
        h1 {
            text-align: center;
        }
        li {
            width: auto;
        }
    </style>
    
    <div class="container">
        <h1 class="my-4">WishList</h1>
        {% if foods_needed == [] %}
            <p>No Food Here</p>
        {% else %}
            <ul class="list-group mb-4">
                {% for food in foods_needed %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <strong>{{ food.name }}</strong>
                        <div>
                            <a href="{{ url_for('wish.update_wish', food_id=food.id) }}" class="btn btn-warning btn-sm">Edit</a>
                            <a href="{{ url_for('wish.delete_wish', food_id=food.id) }}"  class="btn btn-success btn-sm">Check</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% for message in get_flashed_messages() %}
        <div class="alert alert-info">
            {{ message }}
        </div>
        {% endfor %}
        <div class="text-center">
            <a href="{{ url_for('wish.create_wish') }}" class="btn btn-primary" role="button">Add</a>
        </div>
    </div>
{% endblock %}
